@media only screen and (max-width: 1300px) {

	:root {
		--header-height:100px;
	}

	.header {
		&__left {
			padding-right:80px;
		}

		&__logo {
			width:56px;
		}
	}

	.intro {
		&__ttl {
			font-size:50px;
		}

		&__right {
			padding:40px 20px 20px;

			&-text {
				font-size:18px;
			}
		}
	}

}

@media only screen and (max-width: 1200px) {

	.section {
		--section-pad:var(--page-gap);
	}

	.head {
		--head-mar:40px;
	}

	.header {
		position:fixed;

		&__left {
			padding:0;

			&-back {
				display:none;
			}
		}

		&__logo {
			width:50px;

			& img {
				&:nth-child(1) {
					display:none;
				}
				&:nth-child(2) {
					display:block;
				}
			}
		}

		.app[data-header="nobg"] & {
			background: linear-gradient(180deg, $color-blue 50%, transparent 100%);
		}

		&--scrolled {
			&:before {
				opacity:1!important;
			}
		}

		&__center {
			position:fixed;
			width:300px;
			top:0;
			right:0;
			bottom:0;
			padding:var(--header-height) 0 0;
			background:$color-blue;
			z-index:1;
			transition:all .4s;

			&:before {
				content:'';
				display:block;
				position:absolute;
				left:-9999px;
				top:0;
				right:0;
				bottom:0;
				background:rgba($color-blue, .8);
				transition:opacity .4s;
			}
			
			.app:not(.app--menu-opened) & {
				transform:translateX(100%);

				&:before {
					opacity:0;
					pointer-events: none;
				}
			}

			&-in {
				height:100%;
				overflow:hidden;
				overflow-y:auto;
				padding:20px;
			}
		}

		&__menu {
			flex-direction: column;

			&-link {
				html.no-touch &:is(a):hover {
					color:$color-green;
				}
			}

			&-item {
				display:flex;
				flex-wrap:wrap;
			}

			&-link {
				width:100%;
			}

			&-sublist {
				width:100%;
				padding:10px 0 0 10px;
				font-size:14px;
			}

			&-subitem {
				&:not(:last-child) {
					margin-bottom:5px;
				}
			}

			&-sublink {
				html.no-touch &:hover {
					color:$color-green;
				}
			}
		}
	}

	.catalog {
		&__side {
			width:250px;

			&-in {
				top:calc(var(--header-height) + 20px);
			}
		}

		&__menu {
			&-link {
				padding:16px 16px;
				font-size:16px;
			}
		}
	}

	.articles {
		&__item {
			padding:40px 20px;
		}
	}

	.request {
		&__img {
			right:calc(50% + 20px);
		}
	}

	@media only screen and (min-width: 1001px) {
		.actions {
			&__item {
				padding-left:20px;
				--action-img:280px;

				&-t {
					font-size: 25px;
				}
			}
		}
	}

}

@media only screen and (max-width: 1000px) {

	.ui {
		&-text {
			& h2 {
				font-size:25px;
			}
	
			& h3 {
				font-size:20px;
			}
		}
	}

	.head {
		&__title {
			font-size:30px;
		}
	}

	.intro {
		&__ttl {
			font-size:40px;
		}

		&__right {
			&-in {
				display:block;
			}

			&-btns {
				width:100%;
				margin-top:20px;
			}
		}

		&__item {
	
			&-h {
				font-size:40px;
			}
		}
	}

	.catalog {
		&__block {
			display:block;
		}

		&__side {
			width:100%;
			margin-bottom:var(--page-gap2);
		}

		&__main {
			max-width:none;
		}

		&__menu {
			position:relative;

			&-pop {
				position:absolute;
				left:0;
				top:50%;
				right:0;
				border-radius:0 0 var(--el-radius) var(--el-radius);
				background:#F9F9F9;
				border:$color-green solid 1px;
				padding:52px 20px 20px;
				opacity:0;
				visibility: hidden;
				transition:opacity .2s, visibility .2s;
			}

			&.active & {
				&-pop {
					opacity:1;
					visibility: visible;
				}
			}

			&-list {
				max-width:300px;
				margin:0 auto;
			}

			&-item {
				&--b {
					justify-content:center;
				}
			}
		}

		&__rel {
			&-col {
				--g-of:2;
				
				@media only screen and (min-width: 601px) {
					&:nth-child(n+3) {
						display:none;
					}
				}
			}
		}
	}

	.features {
		&__col {
			--g-of:3;
		}
	}

	.contacts {
		&__list {
			&-col {
				--g-of:2;
			}
		}
	}

	.articles {
		&__col {
			--g-of:2;
		}
	}

	.actions {
		&__col {
			--g-of:1;
		}
	}

	.product {
		&__left {
			padding:20px;
		}

		&__thumbs {
			margin:20px auto 0;
		}
	}

	.footer {
		padding:var(--page-gap2) 0;

		&__col {
			&--c {
				margin-bottom:var(--page-gap2);
			}

			&--b,
			&--l {
				margin-bottom:20px;
			}
		}

		&__menu {
			text-align:center;

			&-item {
				align-items:center;
			}
		}

		&__socials {
			justify-content:center;
		}

		&__links {
			margin-top:var(--page-gap2);
			justify-content:center;
			flex-direction: column;
			align-items:center;
		}
	}

}

@media only screen and (max-width: 800px) {

	:root {
		--el-radius:24px;
		--header-height:60px;
	}

	.ui {
		&-btn {
			--btn-font:16px;
			--btn-height:54px;
		}

		&-carousel {
			&__nav {
				&-item {
					width:50px;
					height:12px;
				}
			}
		}
	}

	.header {
		&__btns {
			&--r {
				display:none;
			}
		}

		&__logo {
			width:40px;
		}
	}

	.intro {
		&__ttl {
			font-size:30px;
		}

		&__left {
			min-height:auto;
		}
		
		&__list {
			max-width:none;
		}
		&__block {
			&-col {
				--g-of:1;
			}
		}
	}

	.catalog {
		&__item {
			&-ttl {
				font-size:18px;
			}

			&-chars {
				& tr {
					font-size:14px;
				}
			}
		}

		&__menu {
			&-trig {
				height:54px;

				&:after {
					width:16px;
					height:16px;
					top:calc(50% - 8px);
				}
			}
		}
	}

	.about {
		&__info {
			gap:var(--page-gap2);

			&-col {
				width:100%;
				max-width:none;
				order:2;

				&--t {
					order:1;
				}
			}
		}
	}

	.features {
		&__col {
			--g-of:2;
		}
	}

	.contacts {
		&__block {
			--g-gap:var(--page-gap2);

			&-col {
				--g-of:1;
				max-width:none;
			}

			&-map {
				height:300px;
			}
		}

		&__form {
			&-col {
				@media only screen and (min-width: 601px) {
					&--1 {
						--g-of:2;
					}
				}
			}
		}
	}

	.articles {
		&__item {
			&-ttl {
				font-size:25px;
			}
		}
	}

	.request {
		&__img {
			display:none;
		}

		&__block {
			padding-left:0;
		}
	}

	.faq {
		&__col {
			--g-of:1;
		}
	}

	.product {
		&__block {
			display:block;
		}

		&__left,
		&__right {
			width:100%;
			max-width:none;
		}

		&__left {
			margin-bottom:var(--page-gap2);
		}
	}

}

@media only screen and (max-width: 700px) {

	.actions {
		&__item {
			min-height:auto;
			padding-left:20px;
			--action-img:280px;

			&-t {
				font-size: 25px;
			}
		}
	}

}

@media only screen and (max-width: 600px) {

	:root {
		--page-gap:60px;
	}

	.ui {
		&-text {
			& h2 {
				font-size:22px;
			}

			& h3 {
				font-size:18px;
			}
		}
	}

	.head {
		&__title {
			font-size:25px;
		}
	}

	.catalog {
		&__section,
		&__rel {
			&-col {
				--g-of:1;
			}
		}
	}

	.features {
		&__col {
			--g-of:1;
		}
	}

	.contacts {
		&__list {
			&-col {
				--g-of:1;
			}
		}

		&__block {
			&-map {
				height:240px;
			}

			&-sub {
				font-size:18px;
			}
		}
	}

	.articles {
		&__col {
			--g-of:1;
		}

		&__item {
			min-height:300px;

			&-ttl {
				font-size:20px;
			}
		}
	}

	.actions {
		&__item {
			--action-img:200px;
		}
	}

}

@media only screen and (max-width: 500px) {

	.actions {
		&__item {
			--action-img:160px;

			&-t {
				font-size:22px;
			}
		}
	}

	.ui {
		&-text {
			& > img,
			& p > img {
				float:none!important;
				margin:20px 0!important;
				max-width:none!important;
				width:100%!important;
			}
		}
	}
	
	.request {
		&__popup {
			border-radius: 0;
		}

		&__ty {
			padding:0;
			&-ttl {
				font-size:22px;
			}
	
			&-text {
				font-size:16px;
			}
		}
	}

}