
							<div class="catalog__sections">
								<div class="catalog__section" id="section1">
									<div class="ui-text catalog__section-text">
										<h2>
											Деревянные поддоны
										</h2>
										<p>
											Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
										</p>
									</div>
									<div class="ui-grid catalog__section-list">
										<div class="ui-grid__col catalog__section-col">
											<div class="catalog__item">
												<div class="catalog__item-top">
													<div class="catalog__item-img">
														<img src="@@webRoot/images/catalog1.jpg" alt="" />
													</div>
													<div class="catalog__item-ttl">
														Новый деревянный поддон 1200x800x145 мм до 800 кг
													</div>
												</div>
												<div class="catalog__item-body">
													<div class="catalog__item-subttl">
														Характеристики/стоимость
													</div>
													<table class="catalog__item-chars">
														<tbody>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Сорт</span>
																</td>
																<td class="catalog__item-chars-r">
																	1,2,3
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Габариты</span>
																</td>
																<td class="catalog__item-chars-r">
																	1200x800x145 мм
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Гост</span>
																</td>
																<td class="catalog__item-chars-r">
																	33757-2016
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Грузоподъемность</span>
																</td>
																<td class="catalog__item-chars-r">
																	до 800 кг
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span><b>Стоимость</b></span>
																</td>
																<td class="catalog__item-chars-r">
																	<b>от 300 руб.</b>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="catalog__item-bot">
													<div class="catalog__item-btn">
														<a class="ui-btn ui-btn--green" href="@@webRoot/page-catalog-product.html">
															<span class="ui-btn__text">
																Заказать
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="ui-grid__col catalog__section-col">
											<div class="catalog__item">
												<div class="catalog__item-top">
													<div class="catalog__item-img">
														<img src="@@webRoot/images/catalog1.jpg" alt="" />
													</div>
													<div class="catalog__item-ttl">
														Новый деревянный поддон 1200x800x145 мм до 800 кг
													</div>
												</div>
												<div class="catalog__item-body">
													<div class="catalog__item-subttl">
														Характеристики/стоимость
													</div>
													<table class="catalog__item-chars">
														<tbody>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Сорт</span>
																</td>
																<td class="catalog__item-chars-r">
																	1,2,3
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Габариты</span>
																</td>
																<td class="catalog__item-chars-r">
																	1200x800x145 мм
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Гост</span>
																</td>
																<td class="catalog__item-chars-r">
																	33757-2016
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Грузоподъемность</span>
																</td>
																<td class="catalog__item-chars-r">
																	до 800 кг
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span><b>Стоимость</b></span>
																</td>
																<td class="catalog__item-chars-r">
																	<b>от 300 руб.</b>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="catalog__item-bot">
													<div class="catalog__item-btn">
														<a class="ui-btn ui-btn--green" href="@@webRoot/page-catalog-product.html">
															<span class="ui-btn__text">
																Заказать
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="ui-grid__col catalog__section-col">
											<div class="catalog__item">
												<div class="catalog__item-top">
													<div class="catalog__item-img">
														<img src="@@webRoot/images/catalog1.jpg" alt="" />
													</div>
													<div class="catalog__item-ttl">
														Новый деревянный поддон 1200x800x145 мм до 800 кг
													</div>
												</div>
												<div class="catalog__item-body">
													<div class="catalog__item-subttl">
														Характеристики/стоимость
													</div>
													<table class="catalog__item-chars">
														<tbody>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Сорт</span>
																</td>
																<td class="catalog__item-chars-r">
																	1,2,3
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Габариты</span>
																</td>
																<td class="catalog__item-chars-r">
																	1200x800x145 мм
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Гост</span>
																</td>
																<td class="catalog__item-chars-r">
																	33757-2016
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Грузоподъемность</span>
																</td>
																<td class="catalog__item-chars-r">
																	до 800 кг
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span><b>Стоимость</b></span>
																</td>
																<td class="catalog__item-chars-r">
																	<b>от 300 руб.</b>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="catalog__item-bot">
													<div class="catalog__item-btn">
														<a class="ui-btn ui-btn--green" href="@@webRoot/page-catalog-product.html">
															<span class="ui-btn__text">
																Заказать
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="ui-grid__col catalog__section-col">
											<div class="catalog__item">
												<div class="catalog__item-top">
													<div class="catalog__item-img">
														<img src="@@webRoot/images/catalog1.jpg" alt="" />
													</div>
													<div class="catalog__item-ttl">
														Новый деревянный поддон 1200x800x145 мм до 800 кг
													</div>
												</div>
												<div class="catalog__item-body">
													<div class="catalog__item-subttl">
														Характеристики/стоимость
													</div>
													<table class="catalog__item-chars">
														<tbody>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Сорт</span>
																</td>
																<td class="catalog__item-chars-r">
																	1,2,3
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Габариты</span>
																</td>
																<td class="catalog__item-chars-r">
																	1200x800x145 мм
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Гост</span>
																</td>
																<td class="catalog__item-chars-r">
																	33757-2016
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Грузоподъемность</span>
																</td>
																<td class="catalog__item-chars-r">
																	до 800 кг
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span><b>Стоимость</b></span>
																</td>
																<td class="catalog__item-chars-r">
																	<b>от 300 руб.</b>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="catalog__item-bot">
													<div class="catalog__item-btn">
														<a class="ui-btn ui-btn--green" href="@@webRoot/page-catalog-product.html">
															<span class="ui-btn__text">
																Заказать
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="catalog__section" id="section2">
									<div class="ui-text catalog__section-text">
										<h2>
											Новые деревянные поддоны СУХОЙ, для экспорта, по стандарту ISPM-15
										</h2>
										<p>
											Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
										</p>
									</div>
									<div class="ui-grid catalog__section-list">
										<div class="ui-grid__col catalog__section-col">
											<div class="catalog__item">
												<div class="catalog__item-top">
													<div class="catalog__item-img">
														<img src="@@webRoot/images/catalog1.jpg" alt="" />
													</div>
													<div class="catalog__item-ttl">
														Новый деревянный поддон 1200x800x145 мм до 800 кг
													</div>
												</div>
												<div class="catalog__item-body">
													<div class="catalog__item-subttl">
														Характеристики/стоимость
													</div>
													<table class="catalog__item-chars">
														<tbody>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Сорт</span>
																</td>
																<td class="catalog__item-chars-r">
																	1,2,3
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Габариты</span>
																</td>
																<td class="catalog__item-chars-r">
																	1200x800x145 мм
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Гост</span>
																</td>
																<td class="catalog__item-chars-r">
																	33757-2016
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Грузоподъемность</span>
																</td>
																<td class="catalog__item-chars-r">
																	до 800 кг
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span><b>Стоимость</b></span>
																</td>
																<td class="catalog__item-chars-r">
																	<b>от 300 руб.</b>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="catalog__item-bot">
													<div class="catalog__item-btn">
														<a class="ui-btn ui-btn--green" href="@@webRoot/page-catalog-product.html">
															<span class="ui-btn__text">
																Заказать
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="ui-grid__col catalog__section-col">
											<div class="catalog__item">
												<div class="catalog__item-top">
													<div class="catalog__item-img">
														<img src="@@webRoot/images/catalog1.jpg" alt="" />
													</div>
													<div class="catalog__item-ttl">
														Новый деревянный поддон 1200x800x145 мм до 800 кг
													</div>
												</div>
												<div class="catalog__item-body">
													<div class="catalog__item-subttl">
														Характеристики/стоимость
													</div>
													<table class="catalog__item-chars">
														<tbody>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Сорт</span>
																</td>
																<td class="catalog__item-chars-r">
																	1,2,3
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Габариты</span>
																</td>
																<td class="catalog__item-chars-r">
																	1200x800x145 мм
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Гост</span>
																</td>
																<td class="catalog__item-chars-r">
																	33757-2016
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Грузоподъемность</span>
																</td>
																<td class="catalog__item-chars-r">
																	до 800 кг
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span><b>Стоимость</b></span>
																</td>
																<td class="catalog__item-chars-r">
																	<b>от 300 руб.</b>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="catalog__item-bot">
													<div class="catalog__item-btn">
														<a class="ui-btn ui-btn--green" href="@@webRoot/page-catalog-product.html">
															<span class="ui-btn__text">
																Заказать
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="catalog__section" id="section3">
									<div class="ui-text catalog__section-text">
										<h2>
											Б/У деревянные поддоны
										</h2>
										<p>
											Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
										</p>
									</div>
									<div class="ui-grid catalog__section-list">
										<div class="ui-grid__col catalog__section-col">
											<div class="catalog__item">
												<div class="catalog__item-top">
													<div class="catalog__item-img">
														<img src="@@webRoot/images/catalog1.jpg" alt="" />
													</div>
													<div class="catalog__item-ttl">
														Новый деревянный поддон 1200x800x145 мм до 800 кг
													</div>
												</div>
												<div class="catalog__item-body">
													<div class="catalog__item-subttl">
														Характеристики/стоимость
													</div>
													<table class="catalog__item-chars">
														<tbody>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Сорт</span>
																</td>
																<td class="catalog__item-chars-r">
																	1,2,3
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Габариты</span>
																</td>
																<td class="catalog__item-chars-r">
																	1200x800x145 мм
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Гост</span>
																</td>
																<td class="catalog__item-chars-r">
																	33757-2016
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span>Грузоподъемность</span>
																</td>
																<td class="catalog__item-chars-r">
																	до 800 кг
																</td>
															</tr>
															<tr>
																<td class="catalog__item-chars-l">
																	<span><b>Стоимость</b></span>
																</td>
																<td class="catalog__item-chars-r">
																	<b>от 300 руб.</b>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="catalog__item-bot">
													<div class="catalog__item-btn">
														<a class="ui-btn ui-btn--green" href="@@webRoot/page-catalog-product.html">
															<span class="ui-btn__text">
																Заказать
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>