		<footer class="footer">
			<div class="container">
				<div class="footer__block">
					<div class="footer__col footer__col--c">
						<a class="footer__logo" href="@@webRoot/">
							<img src="@@webRoot/images/logo.svg" alt="" />
						</a>
						<div class="footer__slogan">
							Производство и продажа <br />деревянных поддонов
						</div>
					</div>
					<div class="footer__col footer__col--b">
						<ul class="footer__menu footer__menu--h">
							<li class="footer__menu-item">
								<a class="footer__menu-head">
									Каталог
								</a>
							</li>
							<li class="footer__menu-item">
								<a class="footer__menu-head">
									Акции
								</a>
							</li>
							<li class="footer__menu-item">
								<a class="footer__menu-head">
									Доставка
								</a>
							</li>
							<li class="footer__menu-item">
								<a class="footer__menu-head">
									Заказ
								</a>
							</li>
						</ul>
					</div>
					<div class="footer__col footer__col--l">
						<ul class="footer__menu">
							<li class="footer__menu-item">
								<a class="footer__menu-head">
									Продукция
								</a>
								<ul class="footer__menu-sub">
									<li class="footer__menu-subitem">
										<a class="footer__menu-sublink">
											Деревянные поддоны
										</a>
									</li>
									<li class="footer__menu-subitem">
										<a class="footer__menu-sublink">
											Европаллет
										</a>
									</li>
									<li class="footer__menu-subitem">
										<a class="footer__menu-sublink">
											Нестандартные поддоны
										</a>
									</li>
									<li class="footer__menu-subitem">
										<a class="footer__menu-sublink">
											Деревянная рамка
										</a>
									</li>
									<li class="footer__menu-subitem">
										<a class="footer__menu-sublink">
											Деревянный щит
										</a>
									</li>
									<li class="footer__menu-subitem">
										<a class="footer__menu-sublink">
											Паллетные борта и крышки
										</a>
									</li>
									<li class="footer__menu-subitem">
										<a class="footer__menu-sublink">
											Поддоны на брусках
										</a>
									</li>
									<li class="footer__menu-subitem">
										<a class="footer__menu-sublink">
											Двухнастильные поддоны
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="footer__col footer__col--r">
						<ul class="footer__menu footer__menu--r">
							<li class="footer__menu-item">
								<a class="footer__menu-head">
									Контакты
								</a>
								<div class="footer__menu-sub footer__contacts">
									<div class="footer__contacts-item">
										<a href="tel:+77777777777">
											+7 (777) 777-77-77
										</a>
									</div>
									<div class="footer__contacts-item">
										<a href="mailto:mail@mail.com">
											mail@mail.com
										</a>
									</div>
									<div class="footer__contacts-item">
										г. Владимир, улица улица, дом 6
									</div>
									<div class="footer__contacts-item">
										<div class="ui-socials ui-socials--w footer__socials">
											<a class="ui-socials__item" style="--social-color-h:#3ADC49;" href="javascript:void(0);" target="_blank">
												<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-wa"></use></svg>
											</a>
											<a class="ui-socials__item" style="--social-color-h:#675DA9;" href="javascript:void(0);" target="_blank">
												<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-vi"></use></svg>
											</a>
											<a class="ui-socials__item" style="--social-color-h:#2AA1DD;" href="javascript:void(0);" target="_blank">
												<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tg"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="footer__menu-item">
								<a class="footer__menu-head">
									Статьи
								</a>
							</li>
							<li class="footer__menu-item">
								<a class="footer__menu-head">
									О нас
								</a>
							</li>
						</ul>
					</div>
				</div>
				<ul class="footer__links">
					<li class="footer__links-item">
						<a>
							Политика конфиденциальности
						</a>
					</li>
					<li class="footer__links-item">
						<a>
							Согласие на обработку персональных данных
						</a>
					</li>
				</ul>
			</div>
		</footer>