		<header class="header">
			<div class="container header__block">
				<div class="header__left">
					<div class="header__left-back">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#header-left"></use></svg>
					</div>
					<a class="header__logo" href="@@webRoot/">
						<img src="@@webRoot/images/logo.svg" alt="" />
						<img src="@@webRoot/images/logo2.svg" alt="" />
					</a>
				</div>
				<div class="header__center">
					<div class="header__center-in">
						<ul class="header__menu">
							<li class="header__menu-item">
								<a class="header__menu-link current" href="@@webRoot/">
									Главная
								</a>
							</li>
							<li class="header__menu-item">
								<a class="header__menu-link" href="@@webRoot/page-catalog.html">
									Каталог
								</a>
							</li>
							<li class="header__menu-item">
								<a class="header__menu-link" href="@@webRoot/page-actions.html">
									Акции
								</a>
							</li>
							<li class="header__menu-item">
								<a class="header__menu-link" href="@@webRoot/page-text.html">
									Доставка
								</a>
							</li>
							<li class="header__menu-item">
								<a class="header__menu-link" href="@@webRoot/page-text.html">
									Заказ
								</a>
							</li>
							<li class="header__menu-item">
								<ul class="header__menu-sublist">
									<li class="header__menu-subitem">
										<a class="header__menu-sublink" href="@@webRoot/page-text.html">
											О компании
										</a>
									</li>
									<li class="header__menu-subitem">
										<a class="header__menu-sublink current" href="@@webRoot/page-text.html">
											Вопросы и ответы
										</a>
									</li>
									<li class="header__menu-subitem">
										<a class="header__menu-sublink" href="@@webRoot/page-text.html">
											Статьи
										</a>
									</li>
								</ul>
								<div class="header__menu-link">
									О нас
								</div>
							</li>
							<li class="header__menu-item">
								<a class="header__menu-link" href="@@webRoot/page-gad.html">
									Контакты
								</a>
							</li>
						</ul>
						<div class="header__btns header__btns--c">
							<div class="header__btns-item">
								<div class="header__phone">
									<a href="tel:+77777777777">
										+7 (777) 777-77-77
									</a>
								</div>
							</div>
							<div class="header__btns-item">
								<button class="ui-btn ui-btn--green ui-btn--fw" type="button" data-popup="callback">
									<span class="ui-btn__text">
										Обратный звонок
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="header__right">
					<div class="header__btns header__btns--r">
						<div class="header__btns-item">
							<div class="header__phone">
								<a href="tel:+77777777777">
									+7 (777) 777-77-77
								</a>
							</div>
						</div>
						<div class="header__btns-item header__btns-item--d">
							<button class="ui-btn ui-btn--green ui-btn--fw" type="button" data-popup="callback">
								<span class="ui-btn__text">
									Обратный звонок
								</span>
							</button>
						</div>
					</div>
					<div class="header__toggle menu-toggle">
						<div class="menu-toggle__line"></div>
						<div class="menu-toggle__line"></div>
						<div class="menu-toggle__line"></div>
					</div>
				</div>
			</div>
		</header>