	<div class="popups-overlay"></div>
	<div class="popup popup--request request" id="ty">
		<div class="popup__content popup__close-container request__popup">
			<div class="request__popup-inner">
				<div class="request__ty">
					<div class="request__ty-ttl">
						Спасибо! <br />Ваша заявка успешно отправлена!
					</div>
					<div class="request__ty-text">
						<p>
							В ближайшее время наш специалист свяжется с&nbsp;Вами
						</p>
						<p>
							Хорошего Вам дня!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup--request request" id="request">
		<div class="popup__content popup__close-container request__popup">
			<div class="request__popup-inner">
				<header class="head head--in-cont request__head request__head--p">
					<div class="request__head-logo">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
					</div>
					<h2 class="head__title">
						Оставить заявку
					</h2>
					<div class="request__head-sub">
						Продажа деревянных поддонов
					</div>
					<div class="ui-text request__head-text">
						В ближайшее время наши специалисты свяжутся с&nbsp;Вами и&nbsp;ответят на&nbsp;все интересующие вопросы
					</div>
				</header>
				<form class="request__form">
					<div class="request__form-field">
						<label class="ui-input">
							<span class="ui-input__i ui-input__i--n">
								<input type="text" placeholder="Ваше имя" />
							</span>
						</label>
					</div>
					<div class="request__form-field">
						<label class="ui-input">
							<span class="ui-input__i ui-input__i--p">
								<input type="text" placeholder="Ваш телефон" />
							</span>
						</label>
					</div>
					<div class="request__form-field">
						<label class="ui-input">
							<span class="ui-input__i ui-input__i--e">
								<input type="email" placeholder="Ваша почта" />
							</span>
						</label>
					</div>
					<div class="request__form-field">
						<div class="request__form-agree">
							Мы гарантируем сохранность Ваших персональных данных.<br />
							Нажимая на&nbsp;кнопку, Вы подтверждаете свое согласие на&nbsp;обработку персональных данных
						</div>
					</div>
					<div class="request__form-field">
						<div class="request__form-btn">
							<button class="ui-btn ui-btn--border-white" type="submit">
								<span class="ui-btn__text">
									Отправить
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="popup popup--request request" id="order">
		<div class="popup__content popup__close-container request__popup">
			<div class="request__popup-inner">
				<header class="head head--in-cont request__head request__head--p">
					<div class="request__head-logo">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
					</div>
					<h2 class="head__title">
						Заказать
					</h2>
					<div class="request__head-sub">
						Продажа деревянных поддонов
					</div>
					<div class="ui-text request__head-text">
						В ближайшее время наши специалисты свяжутся с&nbsp;Вами и&nbsp;ответят на&nbsp;все интересующие вопросы
					</div>
				</header>
				<form class="request__form">
					<div class="request__form-field">
						<label class="ui-input">
							<span class="ui-input__i ui-input__i--n">
								<input type="text" placeholder="Ваше имя" />
							</span>
						</label>
					</div>
					<div class="request__form-field">
						<label class="ui-input">
							<span class="ui-input__i ui-input__i--p">
								<input type="text" placeholder="Ваш телефон" />
							</span>
						</label>
					</div>
					<div class="request__form-field">
						<label class="ui-input">
							<span class="ui-input__i ui-input__i--e">
								<input type="email" placeholder="Ваша почта" />
							</span>
						</label>
					</div>
					<div class="request__form-field">
						<div class="request__form-agree">
							Мы гарантируем сохранность Ваших персональных данных.<br />
							Нажимая на&nbsp;кнопку, Вы подтверждаете свое согласие на&nbsp;обработку персональных данных
						</div>
					</div>
					<div class="request__form-field">
						<div class="request__form-btn">
							<button class="ui-btn ui-btn--border-white" type="submit">
								<span class="ui-btn__text">
									Отправить
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="popup popup--request request" id="callback">
		<div class="popup__content popup__close-container request__popup">
			<div class="request__popup-inner">
				<header class="head head--in-cont request__head request__head--p">
					<div class="request__head-logo">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
					</div>
					<h2 class="head__title">
						Обратный звонок
					</h2>
					<div class="request__head-sub">
						Продажа деревянных поддонов
					</div>
					<div class="ui-text request__head-text">
						В ближайшее время наши специалисты свяжутся с&nbsp;Вами и&nbsp;ответят на&nbsp;все интересующие вопросы
					</div>
				</header>
				<form class="request__form">
					<div class="request__form-field">
						<label class="ui-input">
							<span class="ui-input__i ui-input__i--n">
								<input type="text" placeholder="Ваше имя" />
							</span>
						</label>
					</div>
					<div class="request__form-field">
						<label class="ui-input">
							<span class="ui-input__i ui-input__i--p">
								<input type="text" placeholder="Ваш телефон" />
							</span>
						</label>
					</div>
					<div class="request__form-field">
						<div class="request__form-agree">
							Мы гарантируем сохранность Ваших персональных данных.<br />
							Нажимая на&nbsp;кнопку, Вы подтверждаете свое согласие на&nbsp;обработку персональных данных
						</div>
					</div>
					<div class="request__form-field">
						<div class="request__form-btn">
							<button class="ui-btn ui-btn--border-white" type="submit">
								<span class="ui-btn__text">
									Отправить
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>