		<section class="section request request--1">
			<div class="request__img">
				<picture>
					<source srcset="@@webRoot/images/blank.png" media="(max-width:800px)" type="image/png">

					<source srcset="@@webRoot/images/request.webp" type="image/webp">
					<source srcset="@@webRoot/images/request.jpg" type="image/jpeg">
					<img src="@@webRoot/images/request.jpg" alt="" loading="lazy" />
				</picture>
			</div>
			<div class="container">
				<div class="request__block">
					<header class="head head--in-cont request__head">
						<h2 class="head__title">
							Оставить заявку
						</h2>
						<div class="request__head-sub">
							Продажа деревянных поддонов
						</div>
						<div class="ui-text request__head-text">
							В ближайшее время наши специалисты свяжутся с&nbsp;Вами и&nbsp;ответят на&nbsp;все интересующие вопросы
						</div>
					</header>
					<form class="request__form">
						<div class="request__form-field">
							<label class="ui-input">
								<span class="ui-input__i ui-input__i--n">
									<input type="text" placeholder="Ваше имя" />
								</span>
							</label>
						</div>
						<div class="request__form-field">
							<label class="ui-input">
								<span class="ui-input__i ui-input__i--p">
									<input type="text" placeholder="Ваш телефон" />
								</span>
							</label>
						</div>
						<div class="request__form-field">
							<label class="ui-input">
								<span class="ui-input__i ui-input__i--e">
									<input type="email" placeholder="Ваша почта" />
								</span>
							</label>
						</div>
						<div class="request__form-field">
							<div class="request__form-agree">
								Мы гарантируем сохранность Ваших персональных данных.<br />
								Нажимая на&nbsp;кнопку, Вы подтверждаете свое согласие на&nbsp;обработку персональных данных
							</div>
						</div>
						<div class="request__form-field">
							<div class="request__form-btn">
								<button class="ui-btn ui-btn--border-white" type="submit">
									<span class="ui-btn__text">
										Отправить
									</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>